In [1]:
Number1 = int(input("Your 1st number is: "))
Number2 = int(input("Your 2nd number is: "))

Your 1st number is: 24
Your 2nd number is: 5

# 1. Calculate the sum, difference, product, and quotient of two numbers

In [2]:
#Calculate the sum
if Number1 >0 and Number2>0:
    print(f'{Number1} + {Number2} = {Number1+Number2}')
else:
    print("please fill the number other than zero in both Number1 and Number2 variables")

24 + 5 = 29

In [3]:
#Calculate the difference
if Number1>Number2:
    print(f"difference between {Number1} and {Number2} is:")
    print(f"{Number1} - {Number2} = {Number1-Number2}")
else:
    print(f"difference between {Number1} and {Number2} is:")
    print(f"{Number2} - {Number1} = {Number2-Number1}")

difference between 24 and 5 is:
24 - 5 = 19

In [4]:
#Calculate the product
if Number1>0 or Number2>0:
    print(f"{Number1} x {Number2} = {Number1*Number2}")
else:
    print("please insert the value either in Number1 or Number2 for their product")

24 x 5 = 120

In [5]:
Numb1 = int(input("enter the 1st value = "))
Numb2 = int(input("enter the 2nd value = "))

enter the 1st value = 36
enter the 2nd value = 9

In [6]:
#Calculate the quotient
if Numb1 == 0 or Numb2 == 0:
    print("please insert the value to get quotient of the equation")
elif Numb1>Numb2:
    print(f"{Numb1} / {Numb2} = {Numb1/Numb2}   (here your 1st value {Numb1} is greater than your 2nd value {Numb2})")
else:
    print(f"{Numb2} / {Numb1} = {Numb2/Numb1}   (here your 2nd value {Numb2} is greater than your 1st value {Numb1})")

36 / 9 = 4.0   (here your 1st value 36 is greater than your 2nd value 9)

# 2. Perform various assignment operations on a variable.

In [7]:
initial_variable = 5
print(initial_variable)

initial_variable += 5
print(initial_variable)

initial_variable *= 10
print(initial_variable)

initial_variable /= 10
print(initial_variable)

initial_variable /= 2
print(initial_variable)

5
10
100
10.0
5.0

# 3. Compare two numbers and print the results

In [8]:
Numb3 = int(input("enter the 3rd value = "))
Numb4 = int(input("enter the 4th value = "))

enter the 3rd value = 35
enter the 4th value = 7

In [9]:
if Numb3 > Numb4:
    print(f"{Numb3} > {Numb4}  ({Numb3} is greater than {Numb4})")
else:
    print(f"{Numb4} > {Numb3}  ({Numb4} is greater than {Numb3})")

35 > 7  (35 is greater than 7)

# 4. Check conditions using logical operators

In [10]:
new_var1 = int(input("enter your marks between 0 to 100 = "))

enter your marks between 0 to 100 = 89

In [11]:
if new_var1 == 100:
    print("you get the maximum marks")
elif new_var1 <100 and new_var1 > 75:
    print(f"you are just {100-new_var1} marks short to get maximum marks")
elif new_var1 == 75:
    print("you get 75% marks")
elif new_var1 <75 and new_var1 > 50:
    print(f"you are just {75-new_var1} marks short to get 75% marks")
elif new_var1 == 50:
    print("you get 50% marks")
elif new_var1 <50 and new_var1>33:
    print(f"you just pass and {50-new_var1} marks short to get 50% marks")
else:
    print(f"you are fail and you get just {new_var1}% marks")

you are just 11 marks short to get maximum marks

# 5. Check the identity of variables.

In [14]:
#identity of variables is defined by "is" and "is not"
name1 = "Chander"
name2 = "Parkash"

if name1 is name2:
    print(f"{name1} and {name2} are same name or you can say both name is equal")
else:
    print(f"{name1} and {name2} are not same name ")

Chander and Parkash are not same name

In [16]:
if name1 is not name2:
    print(f"both {name1} and {name2} are not same so 'is not' condition satisfied here")
else:
    print(f"both {name1} and {name2} are same so 'is not' condition not satisfied here")

both Chander and Parkash are not same so 'is not' condition satisfied here

# 6. Perform bitwise operations on any two integers

In [1]:
# & operator (0 & 0 = 0, 0 & 1 = 0, 1 & 0 = 0, 1 & 1 = 1)
a1 = 24 # bin(24) is 0b11000
a2 = 4 # bin(4) is 0b100
a1 & a2 # output of this = bin(0)

0

In [14]:
print(f"bin(24) is {bin(24)} i.e. ({bin(24)[2:7]}) and bin(4) is {bin(4)} i.e. ({bin(4)[2:5]})")
print()
print(bin(24)[2:7]) #use slicing to show only value of the bin value
print(f"  {bin(4)[2:5]}") #use slicing to show only value of the bin value
print("------")
print(f"00000") #0 type manually just because to show output impresive
print("------")
print()
print(f"output 0 = bin(0)") #0 is the output of bin(0)

bin(24) is 0b11000 i.e. (11000) and bin(4) is 0b100 i.e. (100)

11000
  100
------
00000
------

output 0 = bin(0)

In [3]:
print(f"bin(0) is {bin(0)}") #0 is the output of bin(0)

bin(0) is 0b0

In [33]:
# negative terms in bitwise operations is define by ~
# use ~ for negative value
print(f"~1 = {~1}")
print(f"~2 = {~2}")
print(f"~56 = {~56}")

~1 = -2
~2 = -3
~56 = -57

In [39]:
#xor is defined by ^ (0 & 0 = 0, 0 & 1 = 1, 1 & 0 = 1, 1 & 1 = 0)
xor_bin = 54 ^ 4
print(f"bin(54) is {bin(54)} and bin(4) is {bin(4)}")
print(f"bin(50) is {bin(50)}")

print(xor_bin)

bin(54) is 0b110110 and bin(4) is 0b100
bin(50) is 0b110010
50

In [50]:
# left and right shift
#left shift (<<)

left_shift = 54 << 4
print(f"bin(54) is {bin(54)} after left shift by 4 = {bin(54)}0000")
print(f"bin(864) is {bin(864)}")

print(left_shift)

bin(54) is 0b110110 after left shift by 4 = 0b1101100000
bin(864) is 0b1101100000
864

In [59]:
#right shift (>>)

right_shift = 54 >> 4
print(f"bin(54) is {bin(54)} after right shift by 4 = {bin(54)[0:(len(bin(54))-4)]}")
print(f"bin(3) is {bin(3)}")

print(right_shift)

bin(54) is 0b110110 after right shift by 4 = 0b11
bin(3) is 0b11
3

# 7. Use unary operators to change the sign of a number.

In [61]:
# to change the sign of any number plus to minus just multiply by -1
b = 5
b *= -1 #-1 change the sign of value after multiply
print(b)

-5

# 8. use the ternary operator to assign values based on conditions

In [67]:
#syntax of ternary variable = (if_statement) if true_condition else false_condition
z1 = 15
z2 = 17
z3 = f"{z1} is greater than {z2}" if z1>z2 else f"{z1} is smaller than {z2}" #use conditionally assign the value to z3
print(z3)

15 is smaller than 17